<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="movie">{{movie.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="goToFavourite()">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="movie">

  <p>{{movie.overview}}</p>

  <ion-button *ngIf="!favourite" (click)="addToFavourites()">
    <ion-icon name="heart"></ion-icon>
    Add To Favourites
  </ion-button>

  <ion-button *ngIf="favourite" (click)="removeFromFavourites()">
    <ion-icon name="heart"></ion-icon>
    Remove From Favourites
  </ion-button>

  <h2>Cast</h2>
<ion-item *ngFor="let person of cast" button="true" (click)="goToDetails(person)">
  <img [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path" />
  <p>{{person.character}}</p>
  <p>{{person.name}}</p>
</ion-item>

  <h2>Crew</h2>
  <div *ngFor="let person of crew" (click)="goToDetails(person)">
    <img [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path" />
    <p>{{person.job}}</p>
    <p>{{person.name}}</p>
    <hr>
  </div>

</ion-content>