<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00473378</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchText" placeholder="Movie Name"></ion-searchbar>
  <ion-button expand="full" (click)="searchMovies()">SEARCH</ion-button>
  <p>Today's Trending Movies</p>
  <div *ngFor="let movie of movies" (click)="goToMovieDetails(movie)">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
    <p>{{movie.overview}}</p>
    <hr>
  </div>
</ion-content>