<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00473378</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchText" placeholder="Movie Name"></ion-searchbar>
  <ion-button expand="full" (click)="searchMovies()">SEARCH</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Today's Trending Movies</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let movie of movies" (click)="goToMovieDetails(movie)">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
      <ion-label>{{movie.overview}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>